@charset "UTF-8";
:root {
    --fonte1: ;
    --fonte2: ;
    --fonte3: ;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var();
}